greenlet==3.1.1
typing_extensions==4.12.2
SQLAlchemy==2.0.37
typer==0.15.1
rich==13.9.4
markdown-it-py==3.0.0
mdurl==0.1.2
shellingham==1.5.4
Pygments==2.19.1
click==8.1.8
-e git+ssh://git@github.com/guilhermegouw/pytasks.git@ac506f918bb48fcfb0c87496108c23984fb447ec#egg=pytasks
